<h2>All Orders</h2>
<%# <%= @Order_chart%> %>
<p style="color: green"><%= notice %></p>

<%= button_to 'Today',all_orders_path({start:Date.today, end:Date.today+1}), method: :get%>

<%= form_with url: "/dashboard/all_orders",method: :get do |f| %>
  <%= f.label "start" %>
  <%= f.date_field :start, value: @start_date%>
  <span> -- </span>
  <%= f.label "end" %>
  <%= f.date_field :end, value: @end_date%>
  <%= f.submit 'Sort' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Orders</th>
      <th scope="col">Total Price</th>
      <th scope="col">Tax(12%)</th>
      <th scope="col">Print Receipt</th>
      <th scope="col">Time</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @Orders.each_with_index do |order,idx|%>
        <tr>
          <td><%= idx + 1%> </td>
          <td>
          <% order[0].each_with_index do |x,idx|%>
            <% if x.keys[0] != :total_price %>
              <%=x[:product_name] %>
              (&#8369;<%=sprintf('%.2f',x[:price])%> x
              <%=x[:quantity]%>)
              <%= order[0].length != idx+2 ? ',' : '' %>    
            <% end %>
          <% end %>
          
          </td>
          <td>&#8369;<%= sprintf('%.2f',order[0][order[0].length-1][:total_price])%> </td>
          <td>&#8369;<%= sprintf('%.2f',order[0][order[0].length-1][:tax])%> </td>
          <td><%= link_to 'print_receipt', order_receipt_path({id:order[2]})%> </td>
          <td><%= order[1].strftime("%I:%M%p/%b %d")%></td>
          <td><%= button_to 'delete',delete_order_path({id:order[2]}),method: :delete %></td> 
        </tr>
    <%end%>
        <tr>
          <td></td>
          <td></td>
          <td><b>Total Income: <p>&#8369;<%= sprintf('%.2f',@Total_income)%></p></b></td>
          <td><b>Total Tax: <p>&#8369;<%= sprintf('%.2f',@Total_tax)%></p></b></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
  </tbody>
</table>


</br></br>


</br></br>

