<h2>Checkout</h2>

<%= form_with url: "/dashboard/checkout" ,method: :get do |f| %>

  <% @Checkout.each_with_index do |product,idx|%>
    <b><%= product.keys[0]%></b>
    <%= f.number_field product.keys[0], value: product.values[0].to_i, min: 1%>
    <b><%= sprintf('%.2f',@Price_array[idx]).to_s + ' - ' + sprintf('%.2f',@Price_product[idx]).to_s %></b>
    </br>
  <% end %>

</br></br></br>
<p>Tax(12%) - <%= sprintf('%.2f',@Tax)%></p>
<b><%= "Total Price: " + sprintf('%.2f',@Total_price).to_s %></b>
</br></br>
<%= f.submit "Place Order"%>
<% end %>

</br></br>
<%= form_with url: "/dashboard/create_order" do |f| %>
  <% @Checkout.each_with_index do |product,idx| %>
    <%= f.hidden_field product.keys[0], value: product.values[0].to_i %>
  <% end %>
  <%= f.submit 'Submit' %>
<% end %>


</br></br>
<%= button_to 'go back',products_path, method: :get%>
