<h2>Transaction</h2>
</br>
<%= form_with url: "/dashboard/create_order" do |f| %>
  <%= f.hidden_field :product_name, value: params[:name] %>
  <%= f.hidden_field :price, value: params[:price] %>
  <b>Product Name: <%= params[:name]%></b>
  </br>
  <b>Price: <%= params[:price]%></b>
  </br>
  <b>Order:</b>
  </br>
  <%= f.number_field :quantity , min: 1, placeholder: "quantity"%>
  </br></br>
  <%= f.submit 'proceed'%>

<% end %>

<%= form_with url: "/dashboard/create_order" do |f| %>
  <%= f.hidden_field :product_name, value: params[:name] %>
  <%= f.hidden_field :price, value: params[:price] %>
  <b>Product Name: <%= params[:name]%></b>
  </br>
  <b>Price: <%= params[:price]%></b>
  </br>
  <b>Order:</b>
  </br>
  <%= f.number_field :quantity , min: 1, placeholder: "quantity"%>
  </br></br>
  <%= f.submit 'proceed'%>

<% end %>

</br>

<%= link_to 'Checkout' , checkout_path, method: :get%>



</br></br>
<%= button_to 'go back',products_path, method: :get%>
