<h1>Order Receipt</h1>
</br>
<h2><%= @shop.shop_name %></h2>
<h3><%= @shop.shop_location %></h3>
<b>phone#: 12345678910</b>
</br>
</br>
<p>Date: <%= @order.created_at%></p>
<p>Product: <%= @order.product_name %></p>
<p>Price: <%= @order.price %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Total Price: <%= @order.quantity * @order.price %></p>




<%= button_to 'go back to products' , products_path, method: :get%>




