<h1>Order Receipt</h1>
<h2><%= @Shop.shop_name %></h2>
<h3><%= @Shop.shop_location %></h3>
<b>phone#: 12345678910</b>
</br>
</b>
<p>Date: <%= @Order.created_at%></p>
</br>

<% @Orders.each do |order|%>
  <p>Product: <%= order[:product_name] %></p>
  <p>Current Price: <%= sprintf('%.2f',order[:price]) %></p>
  <p>Quantity: <%= order[:quantity] %></p>
  <p>Price: <%= sprintf('%.2f',order[:quantity] * order[:price]) %></p>
  </br>
<% end %>

<p>Tax(12%) - <%= sprintf('%.2f',@Order.orders[-1][:tax])%></p>
<p>Total Price: <%= sprintf('%.2f',@Order.orders[-1][:total_price])%></p>
  </br>
<%= button_to 'Print Receipt' %>
  </br>

<%= button_to 'go back to products' , products_path, method: :get%>



