<p style="color: green"><%= notice %></p>

<%= render @product_detail %>

<div>
  <%= link_to "Edit this product detail", edit_product_detail_path(@product_detail) %> |
  <%= link_to "Back to product details", product_details_path %>

  <%= button_to "Destroy this product detail", @product_detail, method: :delete %>
</div>
