<h1>Welcome to Cafe Management App</h1>

<%= form_with url: "/shop_details/create_details" do |f| %>
<%= f.hidden_field :detail, value:"business_type" %>
<%= f.hidden_field :name, value:params[:name] %>
<%= f.hidden_field :location, value:params[:location] %>
<b>Business Type:</b>
</br>
<%= f.text_field :business_type , size: "10x1", placeholder: "type of your business", required: true %>
</br></br>
<%= f.submit%>

<%end%>