<h1>Welcome to Cafe Management App</h1>
<p style="color: red"><%= notice %></p>

<%= form_with url: "/shop_details/create_details" do |f| %>
<%= f.hidden_field :detail, value:"shop_name" %>
<b>Your Shop Name:</b>
</br>
<%= f.text_field :shop_name , size: "10x1", placeholder: "name of your shop", required: true, format: { without: /\s/ }  %>
</br></br>
<%= f.submit%>

<%end%>