<h1>Welcome to Cafe Management App</h1>
</br>
 <b>Enter Your Shop Details:</b>
 

<%= form_with url: "/shop_details/create_details" do |f| %>

    <%= f.text_field :shop_name , size: "10x1", placeholder: "name of your shop", required: true, format: { without: /\s/ }  %>
    </br>
    <i style="color: red"><%= notice == nil ? "" : notice.keys.include?("shop_name") ? notice["shop_name"][0] : "" %></i>
    </br>
    <%= f.text_field :shop_location , size: "10x1", placeholder: "location of your shop", required: true %>
    </br>
     <i style="color: red"><%= notice == nil ? "" : notice.keys.include?("shop_location") ? notice["shop_location"][0] : "" %></i>
    </br>
    <%= f.text_field :shop_number , size: "10x1", placeholder: "shop phone number", required: true %>
    </br>
     <i style="color: red"><%= notice == nil ? "" : notice.keys.include?("shop_number") ? notice["shop_number"][0] : "" %></i>
    </br>
    <%= f.submit%>

<%end%>