<div class="home_bg py-5">
  <div class="w-50 text-center bg-secondary p-5 mx-auto rounded-4" style=" --bs-bg-opacity: .30;">
    <span style="color:yellow" class="fs-2 " id="welcome">Welcome! <%=current_user.email%> to</span>
    <h1 style="font-family:'Lobster',cursive; font-size: 4rem">Cafe Management App</h1>
    <div class="py-4 w-75 mx-auto" style="border: 5px solid black; border-radius: 8px; ">
        <h3 class="mb-3" id="shop_details">Enter Your Shop Details</h3>
        <%= form_with url: "/shop_details/create_details" do |f| %>

            <%= f.text_field :shop_name , value: params[:shop_name], size: "10x1", placeholder: "Name of your shop", required: true, format: { without: /\s/ }, class:"text-center"%>
            </br>
            <i style="color: red"><%= notice.class == String || notice == nil ? "" : notice.keys.include?("shop_name") ? notice["shop_name"].join(", ") : "" %></i>
            </br>
            <%= f.text_field :shop_location , value: params[:shop_location], size: "10x1", placeholder: "Location of your shop", required: true, class:"text-center" %>
            </br>
            <i style="color: red"><%= notice.class == String || notice == nil ? "" : notice.keys.include?("shop_location") ? notice["shop_location"].join(", ") : "" %></i>
            </br>
            <%= f.text_field :shop_number ,value: params[:shop_number], size: "10x1", placeholder: "Shop phone number", required: true, class:"text-center" %>
            </br>
            <i style="color: red"><%= notice.class == String || notice == nil ? "" : notice.keys.include?("shop_number") ? notice["shop_number"].join(", ") : "" %></i>
            </br>
            <%= f.submit "PROCEED" , class:"btn btn-success", id:"proceed" %>
        <%end%>
    </div>
  </div>
</div>