<h1 id="order_receipt_title">Order Receipt</h1>
<div class="bg-light w-50 rounded mx-auto mt-3 p-3 fs-4" id="order_receipt">
  <h2 class="text-capitalize"><%= @Shop.shop_name %></h2>
  <h3 class="text-capitalize"><%= @Shop.shop_location %></h3>
  <b>phone#:<%= @Shop.shop_number %></b>
  </br>
  <i>Date: <%= @Order.created_at.strftime("%b %d,%Y %I:%M%P")%></i>
  </br></br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">QTY</th>
        <th scope="col">PRODUCT</th>
        <th scope="col">UNIT PRICE</th>
        <th scope="col">AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <% @Orders.each do |order|%>
      <tr>
        <td><%= order[:quantity] %></td>
        <td class="text-capitalize"><%= order[:product_name] %></td>
        <td>&#8369;<%= sprintf('%.2f',order[:price]) %></td>
        <td>&#8369;<%= sprintf('%.2f',order[:quantity] * order[:price]) %></td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>      
      <tr>
        <td></td>
        <td></td>
        <td><i>Subtotal</i></td>
        <td><i>&#8369;<%= sprintf('%.2f',@Order.orders[-1][:total_price]/1.12)%></i></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><i>Sales Tax(12%)</i></td>
        <td><i><%= sprintf('%.2f',@Order.orders[-1][:tax])%></i></td>
      </tr>     
      <tr>
        <td></td>
        <td></td>
        <td><b>TOTAL</b></td>
        <td><b>&#8369;<%= sprintf('%.2f',@Order.orders[-1][:total_price])%></b></td>
      </tr>         
    </tbody>
  </table>
</div>
</br>
<% if params[:back_to_allorders]%>
  <%= button_to 'Print Receipt', all_orders_path,method: :get,class:"btn btn-warning", id:"print_receipt"%>
  </br>
  <%= button_to 'back to all orders' , all_orders_path, method: :get, class:"btn btn-danger", id:"back"%>
  </br>
<% else %>
  <%= button_to 'Print Receipt', products_path,method: :get,class:"btn btn-warning", id:"print_receipt" %>
  </br>
  <%= button_to 'back to all products' , products_path, method: :get, class:"btn btn-danger", id:"back"%>
  </br>
<% end %>





