<h1>Summary Receipt</h1>
<h2><%= @Shop.shop_name %></h2>
<h3><%= @Shop.shop_location %></h3>
<b>phone#:<%= @Shop.shop_number %></b>
</br>
</b>
<span>Date: <%= @start_date.strftime("%b %d,%Y %I:%M%P")%> - 
            <%= @end_date.strftime("%b %d,%Y %I:%M%P")%>
</span> 
</br>

<% @Summary.each do |product|%>
  <p>Product: <%= product[:product_name]%></p>
  <p> Price:
    <% if product[:price_array].count == 1%>
        &#8369;<%=sprintf('%.2f',product[:price_array][0].keys[0])%>
    <% else %>
        <% product[:price_array].each do |price| %>
            <% if product[:price] == price.keys[0] %>
                <b>(&#8369;<%=sprintf('%.2f',price.keys[0])%> x 
                <%=price.values[0]%>)</b>  
            <% else %> 
                <i>(&#8369;<%=sprintf('%.2f',price.keys[0])%> x 
                <%=price.values[0]%>)</i>                                 
            <% end %> 
        <% end %>          
    <% end %>  
  </p>
  <p>Quantity: <%= product[:quantity] == nil ? 0 : product[:quantity]%></p>
  <p>Tax(12%): &#8369;<%= sprintf('%.2f',product[:quantity] == nil ? 0 : product[:quantity] * product[:price] * 0.12)%></p>
  <p>Total Price: &#8369;<%= sprintf('%.2f',product[:sold_price] == nil ? 0 : product[:sold_price])%></p>
  </br>
<% end %>

<p>Total Quantity: <%= @Total_Quantity%></p>
<p>Total Tax(12%): &#8369;<%= sprintf('%.2f',(@Total_Price/1.12)*0.12)%></p>
<p>Total Income: &#8369;<%= sprintf('%.2f',@Total_Price)%></p>
  </br>
<%= button_to 'Print Receipt' %>
  </br>

<%= link_to 'go back' , sold_products_path({start:@start_date, end:@end_date})%>


