<div class="d-flex justify-content-evenly">
  <div class="w-25 d-flex align-items-center">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :product_name_cont, placeholder:"search product name", size: "10x1" %>
      <%= f.submit "Search" %>
    <% end %>  
  </div>

  <div class="w-50">
    <h2>All Products </h2>
    <%= link_to "Edit Products", edit_all_products_path, class:"btn btn-success mx-3" %> 
    <%= link_to "Create Product", new_product_path, class:"btn btn-success mx-3" %>
  </div>

  <div class="w-25">
  </div>
</div>

<%= form_with url: "/orders/checkout" ,method: :get do |f| %>
  <div class ="products d-flex w-100 flex-wrap mt-3 py-5 border rounded bg-secondary" style=" --bs-bg-opacity: .15; min-height: 500px;">
    <% if @products.length == 0 %>
      <div class="m-auto text-secondary">
        <h1>No Products Created</h1>
      </div>
    <% else %>
      <% @products.each do |product| %>
        <div class="w-25" style="height:200px">
          <img style="width:100px; height:85px;" src="<%= product.image.to_s%>"/>
          <h3 class="text-capitalize"><%= product.product_name %></h3>
          <i>price: &#8369;<%= sprintf('%.2f',product.price)%></i>
          <div><%= f.number_field product.product_name , min: 1, placeholder: "quantity" ,size: "1x1"%></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.submit 'CHECKOUT', class:"btn btn-warning mt-3"%>
<% end %>  
</br>









