<p style="color: green"><%= notice %></p>

  <h1>Products </h1>
  <span><%= link_to "Edit Products", edit_all_products_path %> - <%= link_to "New Product", new_product_path %></span>

<%= form_with url: "/dashboard/checkout" ,method: :get do |f| %>
  <div id="products">
    <% @products.each do |product| %>
    
      <%= render product %>
      <p>
        <%= f.number_field product.product_name , min: 1, placeholder: "quantity"%>
      </p>
    <% end %>
  </div>
  </br></br>
  <%= f.submit 'Checkout'%>
<% end %>

 </br></br>




