<h2>All Products </h2>
<span><%= link_to "Edit Products", edit_all_products_path %> - <%= link_to "New Product", new_product_path %></span>
</br></br></br>
<%= form_with url: "/orders/checkout" ,method: :get do |f| %>
  <div class ="products d-flex w-100 flex-wrap ">
    <% @products.each do |product| %>
      <div class="w-25" style="height:150px">
        <img style="width:100px; height:85px;" src="<%= product.image.to_s%>"/>
        <h3><%= product.product_name %></h3>
        price: &#8369;<%= sprintf('%.2f',product.price)%>
        <div><%= f.number_field product.product_name , min: 1, placeholder: "quantity" ,size: "1x1"%></div>
      </div>
    <% end %>
  </div>
  </br></br>
  <%= f.submit 'Checkout'%>
<% end %>

 </br></br>






