<p style="color: green"><%= notice %></p>

<%= form_with url: "/dashboard/checkout" ,method: :get do |f| %>

  <h1>Products</h1>

  <div id="products">
    <%= @products.each do |product| %>
    <%= link_to "Show this product", product %>
      <%= render product %>
      <p>
        <%= f.number_field product.product_name , min: 1, placeholder: "quantity"%>
      </p>
    <% end %>
  </div>
  </br></br>
  <%= f.submit 'Checkout'%>
<% end %>

 </br></br>

<%= link_to "New product", new_product_path %>

</br></br>
<%= button_to "go back", dashboard_index_path, method: :get %>

